html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

.header {
    display: flex;
    width: 100%;
    background-color: var(--header-color);
}

.header div {
    background-color: var(--header-button-color);
    border: 2px solid var(--header-color);
}

.header div:last-child {
    background-color: red;
    margin-left: auto;
}

.header .header-link {
    display: inline-flex;
    padding: 6px 16px;

    color: white;
    text-align: center;
    text-decoration: none;
}

.header .header-link:hover {
    background-color: var(--header-border-color);
}

.table-outer {
    overflow-x: scroll;
    padding-top: 20px;
    width: fit-content;
}

/* .table {
} */

.table tr,
td {
    padding-right: 4px;
    padding-bottom: 10px;
}

.table input[type="text"] {
    width: 100px;
}

.table input[type="number"] {
    width: 80px;
}

.table [name="id"] {
    width: 20px;
    font-weight: bold;
}

.table th {
    background-color: lightgrey;
}

.table td button {
    padding: 6px;
}

.table-search {
    display: flex;
}

.table-search label {
    padding-top: 4px;
}

.table-search button {
    padding: 4px;
}

.card {
    width: 15%;
}

.card > label {
    font-size: larger;
    font-weight: bold;
}

.card .card-field {
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
}

.card .card-field:last-child {
    justify-content: center;
}

.card .card-field button {
    margin: 6px;
    padding: 6px;
}

:root {
    --header-color: #340049;
    --header-button-color: #5d009b;
    --header-border-color: #3f0091;
}
